<!doctype html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">
    <title>2016 Christmas Artwork | Journal Sentinel - jsonline.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://projects.jsonline.com/shared/css/font.futura-today.css" type="text/css" />
    <link rel="stylesheet" href="css/styles.css" type="text/css" />

    <meta name="description" content="For the ninth year, the Journal Sentinel solicited work from Wisconsin artists for its front page on Christmas, in the place typically reserved for the top news of the day.">
    <meta property="og:title" content="2016 Christmas Artwork">
    <meta property="og:type" content="article">
    <meta property="og:url" content="http://projects.jsonline.com/entertainment/2016/12/25/2016-christmas-artwork.html">
    <meta property="og:image" content="http://projects.jsonline.com/entertainment/2016/12/25/media/Christmas%20Art___014___thumb.JPG">
    <meta property="og:description" content="For the ninth year, the Journal Sentinel solicited work from Wisconsin artists for its front page on Christmas, in the place typically reserved for the top news of the day.">
    <meta property="og:site_name" content="JSOnline.com">
    <meta property="fb:app_id" content="227386193957280">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@journalsentinel">
    <meta name="twitter:creator" content="@journalsentinel">
    <meta name="twitter:title" content="2016 Christmas Artwork">
    <meta name="twitter:description" content="For the ninth year, the Journal Sentinel solicited work from Wisconsin artists for its front page on Christmas, in the place typically reserved for the top news of the day.">
    <meta name="twitter:image" content="http://projects.jsonline.com/entertainment/2016/12/25/media/Christmas%20Art___014___thumb.JPG">

</head>
<body>

    <script src="http://projects.jsonline.com/shared/header/v2/header.js"></script>
    <ul class="lightrope">
        <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
    </ul>
    <div class="container">
	    <h1 class="mjs-headline">2016 Christmas Artwork</h1>
        <p class="mjs-description">
        	For the ninth year, the Journal Sentinel solicited work from Wisconsin artists for its front page on Christmas, in the place typically reserved for the top news of the day.
        	<br><br>
        	Check back on Christmas morning when this year's winner is announced.
        </p>
		<div class="mjs-inline-gallery">
		{% for image in images %}
			<div class="mjs-inline-item mjs-image-{% if image.orientation == 'landscape' %}horizontal{% else %}vertical{% endif %}">
				<figure class="mjs-image-wrapper">
					<img class="mjs-inline-image" {% if loop.first %}src="{{image.path}}"{% else %}src=""{% endif %} {% if not loop.first %}data-src="{{image.path}}"{% endif %} alt="{{image.desc|escape}}">
					<figcaption class="mjs-inline-caption"><strong>{{image.desc}}</strong> by {{image.artist}}</figcaption>
				</figure>
			</div>
			{% if loop.index % 3 == 0 %}
			<div class="mjs-ad">
				<div class="ad" id="btf-wide-{{loop.index}}"></div>
			</div>
			{% endif %}
		{% endfor %}
		</div>
	</div>
	<script src="js/lazyload.min.js"></script>
	<script>ll.init();</script>

	<script src="js/app.js"></script>

	<script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
    <script>
        var googletag = googletag || {};
        googletag.cmd = googletag.cmd || [];
        var adSize = window.innerWidth < 730 ? [[320, 50]] : [[728, 90]];
        var adName = window.innerWidth < 730 ? 'mobileweb-banner_bottom' : 'leaderboard_btf';
        var adMobile = window.innerWidth < 730 ? '-mobile' : '';
        googletag.cmd.push(function() {
            // Global settings affecting all ad slots
            var pubads = googletag.pubads();
            pubads.enableSingleRequest();
            //Setting global custom targeting that will be set on every ad slot
            pubads.setTargeting('aam', ((decodeURIComponent(readCookie('aamusat')) || '').match(/[0-9]+/g) || []).join());
            pubads.setTargeting('pageType', 'story-asset');
            pubads.setTargeting('referrer', (document.referrer.match(/https?:\/\/[:\w\.-]+/) || ['N/A'])[0]);
            pubads.setTargeting('topic', '');
            pubads.setTargeting('url', document.location.href);
            pubads.setTargeting('userguid', readCookie('gup_anonid') || 'N/A');
            pubads.setTargeting('u', readCookie('aam_uuid') || '');
            googletag.enableServices();
            // Sets up the identified div as an ad slot with settings unique to that slot
            googletag.defineSlot('/7103/wi-milwaukee'+adMobile+'-C1258/'+adName+'/entertainment', adSize, 'btf-wide-14').addService(pubads);
            googletag.defineSlot('/7103/wi-milwaukee'+adMobile+'-C1258/'+adName+'/entertainment', adSize, 'btf-wide-28').addService(pubads);
            googletag.defineSlot('/7103/wi-milwaukee'+adMobile+'-C1258/'+adName+'/entertainment', adSize, 'btf-wide-42').addService(pubads);
            googletag.defineSlot('/7103/wi-milwaukee'+adMobile+'-C1258/'+adName+'/entertainment', adSize, 'btf-wide-56').addService(pubads);
            googletag.defineSlot('/7103/wi-milwaukee'+adMobile+'-C1258/'+adName+'/entertainment', adSize, 'btf-wide-70').addService(pubads);
            googletag.defineSlot('/7103/wi-milwaukee'+adMobile+'-C1258/'+adName+'/entertainment', adSize, 'btf-wide-84').addService(pubads);
            // Triggers call to DFP to return an ad unit
            googletag.display('btf-wide-14');
            googletag.display('btf-wide-28');
            googletag.display('btf-wide-42');
            googletag.display('btf-wide-56');
            googletag.display('btf-wide-70');
            googletag.display('btf-wide-84');
            function readCookie(name) {
                var result = new RegExp('(?:^|; )' + encodeURIComponent(name) + '=([^;]*)').exec(document.cookie);
                return result ? result[1] : null;
            }
        });
    </script>
	<script src="//tags.tiqcdn.com/utag/gci/jsonline-cobrand/prod/utag.js"></script>

</body>
</html>
